h1{
    color: crimson;
}
body{
    background:;
}

a{
    text-decoration: none;
}

a:visited{
    color: yellow;
}

a:hover{
    text-decoration: underline;
    color: red;
}

a:active{
    color: green;
}

.letur_rautt{
    color:red;
}

.letur_blatt{
    color: blue;  
}

.letur{
    font-family: Arial;
}

.s
{
    padding-left: 40px;
}

.lspassia{
    padding-left: 10px;
}


