@import url('https://fonts.googleapis.com/css?family=Notable');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*Font*/
.impact{
    font-family: 'notable';
}
article{
    font-family: 'Raleway';
}
body{
    background-image: linear-gradient(black, blue, white, green, brown 99%);
}
/*Wrapper*/
.wrapper{
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "hlekkur1 hlekkur2 hlekkur3 hlekkur4 hlekkur5"
    "header header header header header"
    "main main main main main"
    "sidebar1 sidebar1 sidebar1 sidebar2 sidebar2"
    "footer footer footer footer footer"
}

/*Tag skilyrðir*/
*{
    text-align: center;
}
article{
    padding: 10px;
    text-align: left;
}
h4{
    text-align: left;
    padding: 10px;
    color: red;
}
footer{
    padding: 10px;
    color: white;
    font-size: 0.9em;
}
nav{
    background-color: black;
    color: white;
}
aside {color: blue;}
main {color: blue;}

/*Hlekkurinn*/
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/*Klasar*/
/*Haus*/
.header{
    grid-area: header;
    color: white;
}
.header h1{
    font-style: italic;
    font-size: 3em;
}
.header p{
    text-decoration: underline;
    font-size: 2em;
}

/*Hlekkirnir*/
.hlekkur1 {grid-area: hlekkur1; }
.hlekkur2 {grid-area: hlekkur2; }
.hlekkur3 {grid-area: hlekkur3; }
.hlekkur4 {grid-area: hlekkur4; }
.hlekkur5 {grid-area: hlekkur5; }

/*Hliðirnar*/
.sidebar_vinstri{
    grid-area: sidebar1;
    text-align: left;
    border: 1px solid blue;
    background: lightblue;
}
.sidebar_haegri{
    grid-area: sidebar2;
    text-align: left;
    border: 1px solid blue;
    background: lightblue;
}

/*Aðal texti við miðju*/
.main{
    grid-area: main; 
    border: 1px solid blue;
    background: lightblue;
}

/*Fótur*/
.footer{
    grid-area: footer;
    border: 1px solid black;
    background: lightblue;
}

/*Skýring*/
.better{
    background: white;
    text-align: left;
    padding: 10px;
}