body{
    width: 80%;
    margin: 0 auto;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


*{
   box-sizing: border-box; 
}
.box1{
    border: 1px solid green;
}

.box2{
    border: 1px solid green;
    color: red;
}
.box2_2{
    border: 3px solid red;
    padding: 2em; 
}

.box3{
    border: 5px dashed blue;
    padding: 0.5em;
    color: blue;
}
.box3_2{
    border: 3px solid red;
    padding: 2em;
}


.ListBox1 li{
    display: block;
    border: 3px dashed green;
    padding: 1em;
    margin: 1em;
}
.ListBox2 li{
    display: inline;
    padding: 1em;
    margin: 1em;
    border: 3px dashed blue;
    color: red;
}
.ListBox3 li{
    display: inline-block;
    padding: 1em;
    margin: 1em;
    border: 3px dashed red;
}

.float_box{
    border: 1px solid black;
    padding: 1px;
}
.section1{
    float:left;
    width: 33.33%;
}
.section2{
    float:left;
    width: 50%;
}
.rammi{
    border: 1px solid red;
    padding: 10px;
}


